.w-50{
  width: 50%;
}

.logo-text{
  width: 20px;
}
.bi{
  margin-right: 10px ;
}
.story{
  height: 50px;
  color: cadetblue;
}
.abo{
  width: 20%;
  height: 80%;
  border-radius: 10%;
}
.abi{
  border-radius: 10%;
  width: 100%;

  background-color: aqua;
}