.background{
  background: fixed;
  background-color:burlywood;
}


.card{
  background-color: aqua;
  max-width: 150px;
  border: 2px solid black;
  border-radius: 5%;
  font-family: sans-serif;
  font-size: small;
  padding: 10px;
  text-align: center;

}
.card img{
  width: 150px;
  margin: auto;
  display: flex;
  background-color:beige ;
  backface-visibility: visible black;
border-radius: 4px;
}